---
import Layout from '../layouts/Layout.astro';

import '../assets/global.css';
import SecondaryBtn from '../components/global/SecondaryBtn.svelte';
import Card from '../components/Card.svelte';
import Hero from '../components/Hero.svelte'
import VideoCTA from "../components/VideoCTA.svelte";
import BentoGrid from "../components/BentoGrid.astro";
import { Image } from 'astro:assets';

import HeartHands from "../assets/images/heart-hands-icon.svg";
import C4CCollage from "../assets/images/2024-C4C-collage.jpeg";
import HeartHouse from "../assets/images/house-heart-icon.svg";
import { getCollection } from 'astro:content';

const stories = await getCollection('stories');
---
<Layout title="Almost Home Wyoming">
	<main>
	<div class="wrapper">
      <Hero
        headline="Almost Home Wyoming"
        body="Homeless to Hopeful with just a little help"
        imageSrc="https://pub-14b6e6c1e28d49cbb9491101304b9098.r2.dev/lavender-cover.jpg"
      />
      <div class="">
        <div class="mx-auto max-w-4xl py-16 px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:px-8 lg:pt-24">
          <div class="mt-12 grid md:grid-cols-2 lg:grid-cols-3 sm:grid-cols-1 gap-x-6 gap-y-12 lg:mt-16 lg:gap-x-8 lg:gap-y-16">
            <div class="bg-gradient-to-r from-purple-800 to-t-teal p-6 rounded">
              <div>
                <span class="flex h-24 w-24 items-center justify-center rounded-md">
                  <Image
                    src={HeartHands}
                    alt="Hand holding a house outline"
                  />
                </span>
              </div>
              <div class="mt-6">
                <h2 class="text-3xl font-medium text-white">About us</h2>
                <p class="mt-2 text-base text-white">Learn more about our mission and story</p>
                <SecondaryBtn link="/about/">Read On</SecondaryBtn>
              </div>
            </div>
            <div class="bg-gradient-to-r from-t-teal to-indigo-400 p-6 rounded">
              <div>
                <span class="flex h-24 w-24 items-center justify-center rounded-md">
                  <!-- Heroicon name: outline/heart -->
                  <Image src={HeartHands} alt="Two hands making a heart outline"/>
                </span>
              </div>
              <div class="mt-6">
                <h2 class="text-2xl font-medium text-white">Ways to Give</h2>
                <p class="mt-2 text-base text-white">Lend a helping hand</p>
                <SecondaryBtn link="/donate/">Donate</SecondaryBtn>
              </div>
            </div>
            <div class="bg-gradient-to-l from-purple-800 to-indigo-400 p-6 rounded">
              <div>
                <span class="flex h-24 w-24 items-center justify-center rounded-md">
                  <!-- Heroicon name: outline/users -->
                  <Image src={HeartHouse} alt="Outline of a hosue with a heart in the center"/>
                </span>

              </div>
              <div class="mt-6">
                <h2 class="text-2xl font-medium text-white">Reach out to us</h2>
                <p class="mt-2 text-white text-base">Please reach out with any questions or concerns, we are here to help</p>
                <SecondaryBtn link="/contact/">Contact Us</SecondaryBtn>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="relative max-w-7xl mx-auto">
        <Hero imageSrc="https://pub-14b6e6c1e28d49cbb9491101304b9098.r2.dev/first-interstate-bank-check.jpg" headline="Our stories" body="Read about our organization"></Hero>
        <div class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
          {stories.map((story, index) => (
            <Card story={story} key={index}></Card>
          ))}
        </div>
      </div>

      <VideoCTA />
      <div class="bg-white" id="c4c">
          <BentoGrid></BentoGrid>
        </div>
    </div>
  </main>
</Layout>
